.flex-container{
    display: flex;
    flex-direction: column;
}
.flex-item{
    background: black;
    color: white;
    cursor: pointer;

}
.flex-item:hover{
    background: white;
    color: black;

}

.img1{
    height: 580px;
    width: 780px;
}