<div class="settings">


    <form name="myForm">
        <div class="row">
            <div class="col-md-04"> <label>
                FIRST NAME:
                <input type="text" name="fname" ng-model="user.fname" required>
            </label>
                <div role="alert">
      <span class="error" ng-show="myForm.fname.$error.required">
          Required!</span>    </div>

                <label>
                    LAST NAME:
                    <input type="text" name="lname" ng-model="user.lname" required>
                </label>
                <div role="alert">
      <span class="error" ng-show="myForm.lname.$error.required">
          Required!</span>    </div>



            </div>

            <div class="col-md-04"> ADDRESS:    </div>

        </div>


        <div class="row">
            <div class="col-md-04"> PHONE NUMBER:   </div>
        </div>

        <div class="row">
            <div class="col-md-04">  IMAGE: </div>
        </div>
    </form>




</div>
<label>
    User name:
    <input type="text" name="userName" ng-model="user.name" required>
</label>
<div role="alert">
      <span class="error" ng-show="myForm.userName.$error.required">
       Required!</span>
</div>
<label>
    Last name:
    <input type="text" name="lastName" ng-model="user.last"
           ng-minlength="3" ng-maxlength="10">
</label>
