<div class="container" ng-repeat=""m in personid>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body">
                <img class="img" ng-src="{{m.imgpath}}">
                    <div class="panel-footer">

                        <div> Name: {{m.firstname}} {{m.lastname}}</div>
                        <div> Reaching No: {{m.phonenumber}}</div>

                    </div>
                </div>

            </div>

    </div>


    </div>

</div>
