<html ng-app="dead">

<title>Database of Student</title>
<link rel="stylesheet" href="/css/stylesheet.css">
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<body>
<div ng-controller="recordCtrl">


</div>
<record-ctrl></record-ctrl>


<div class="panel panel-default">

    <nav>
        <ul>
            <li><a href="#!/record">Record</a></li>
            <li><a href="#!/form">form</a></li>

        </ul>
    </nav>

</div>
    <div ng-view></div>

        <button type="submit" class="btn btn-default">Search</button>

</form>
<footer class="container-fluid">
    <p> Copyright &copy; 2016 Hello . All rights reserved.  </p>
</footer>

<script type='text/javascript' src='/node_modules/angular/angular.js'></script>

<script type="text/javascript" src="/node_modules/angular-route/angular-route.js"></script>
<script type = 'text/javascript' src='/js/dead.js'></script>

<script type='text/javascript' src='/js/controller/recordctrl.js'></script>

<script type='text/javascript' src='/js/directives/recorddirective.js'></script>>

<script type='text/javascript' src='/js/services/record.js'></script>

</body>
</html>