<html ng-app="dead">

<title>Database of Student</title>
<link rel="stylesheet" href="/css/stylesheet.css">
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<body ng-controller="recordCtrl">
<record-directive></record-directive>





<footer class="container-fluid">
    <p> Copyright &copy; 2016 Hello . All rights reserved.  </p>
</footer>

<script type='text/javascript' src='/node_modules/angular/angular.js'></script>
<script type = 'text/javascript' src='/js/dead.js'></script>

<script type='text/javascript' src='/js/controller/recordctrl.js'></script>

<script type='text/javascript' src='/js/directives/recorddirective.js'></script>>

<script type='text/javascript' src='/js/services/record.js'></script>

</body>
</html>