
<div ng-repeat="hello in person" class="nav nav-pills nav-stacked">

   <form name="uiform">


           <div class="row">
               <div class="col-md-05">Name: {{hello.lastname}} {{hello.firstname}}</div>
               <div class="col-md-05"> Address: {{hello.address}}</div>

               </div>
       <div class="row">
           <div class="col-md-05">Reaching No: {{hello.phonenumber</div>

       </div>

       <div class="row">
           <div class="'col-md-05">Phone Number: {{hello.imgpath}}></div>
</div>
   </form>
</div>

